<div class="collection-grid ds-flex ml-auto">
  <span class="collection-grid__switcher grid active">{% render 'icon-grid-four' %}</span>
  <span class="collection-grid__switcher list icon-grid-three"></span>
</div>