{% comment %}
Renders social icons in the footer

  Usage:
    {% render 'footer_social_icons' %}
{% endcomment %}

{%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo, Linkedin' | split: ', ' -%}
<ul class="ds-flex list-style-none flex-wrap">
  {% for social in social_accounts %}
    {% assign social_handle = social | handleize %}
    {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
    {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}

    {%- if settings[social_link] != blank -%}
      <li class="footer-social__icon">
        <a href="{{ settings[social_link] }}" target="_blank" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}" class="social-link">
          {% render 'render_icon', icon_name: social_icon %}
        </a>
      </li>
    {%- endif -%}
  {% endfor %}
</ul>
