{% comment %}
Renders promotion text boxes
  Accepts:
    - promo_icon: <String> Name of the icon to show beside text
    - promo_title: <String> Promotion title
    - promo_text: <Number> Promotion text

  Usage:
    {% render 'promotion', promo_icon: promo_icon, promo_title: promo_title, promo_text: promo_text %}
{% endcomment %}

<div class="promo-container">
  <div class="promo-icon">
    {%- unless promo_icon == blank -%}
      {% render 'render_icon', icon_name: promo_icon %}
    {%- endunless -%}
  </div><!-- .product-icon -->
  <div class="promo-content">
    {%- if promo_title != blank -%}
      <b class="promo-title">{{ promo_title | newline_to_br }}</b>
    {%- endif -%}

    {%- if promo_text != blank -%}
      <p class="promo-text">{{ promo_text | newline_to_br }}</p>
    {%- endif -%}
  </div><!-- .promo-content -->
</div>
