<div class="section-hura-video">
  <video autoplay muted loop playsinline class="hurabg-video">
    <source src=">https://cdn.shopify.com/s/files/1/0421/5108/4199/files/PromeoStudioOrder_FO7ED2FC7781_v2_2__Smile.jpg?v=1614346887" type="video/mp4">
  </video>
</div>
{% schema %}
{
"name": "Section name",
"settings": []
}
{% endschema %}
 
{% stylesheet %}
.section-hura-video{
  width:100%;
}
.hurabg-video{
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}