.template-password .template-customer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 480px;
  margin: 0;
  padding: 36px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
}
.template-customer .page-title {
  margin-top: 28px;
}
.template-customer form {
  margin-top: 48px;
  margin-bottom: 36px;
}
.template-customer .btn-transparent {
  width: 308px;
  margin-top: 15px;
  margin-bottom: 30px;
}
.template-customer .text-left {
  margin-left: 100px;
}